@charset "UTF-8";
body{
    height:100%;
}

a{
	text-decoration: none;
	link: "black";
    vlink: "black";
}

a:visited{
    text-decoration:none;
    color: black;
}

.page_wrap{
    padding: 3% 3%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.menu_wrap{
    font-family: 'Jua', sans-serif;
    width: 14%;
    height: 100%;
    float:left;
    border-right:solid 1px;
    border-color:grey;
    
}

.menu {
    padding: 4%;
}

.myinfo_wrap{
    width: 47%;
    height: 23%;
    background-color: white;
    float:left;
    font-family: 'Jua', sans-serif;
}

.myface_wrap {
    float: left;
    padding: 3%;
    width: 10%;
    height: auto;

}

.myface{
    width:40px;
    height:40px;
    border-radius:70%;
    overflow: hidden;
    display:inline-block;
}

.hello{
    float:left;
    padding-top: 5%;
    padding-left: 1%;
}

.name {
    font-size:1.3rem;
    display:inline-block;
}

.money {
    color: darkgray;
}

.about_wrap {
    float: left;
    margin-top: 5%;
    width: 77%;
    height: 72%;
    font-family: 'Jua', sans-serif;
}

.title {
    width:100%;
    height:10%;
}

.detail {
    height:240px;
    line-height:240px;
    width:100%;
    height:90%;
    text-align: center;
    color: darkgray;
}
div.top{
	width: 90%;
	padding-top:80px;
	padding-left:10px;
	font-family: 'Jua', sans-serif;
	border-bottom:solid 1px;
	border-color:grey;
}
button.cancel{
	background-color:white;
	border:solid 1px;
	float:right;
	margin-left:5px;
}
button.confirm{
	background-color:grey;
	color:pink;
	float:right;
}
div.perin{
	margin-left:30px;
}
div.position{
	margin-left:30px;
	margin-top:20px;
}