a:link{
    text-decoration: none;
	color: black;
}

a:visited{
	color: black;
    text-decoration:none;
}

body {
	margin: 0px;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	color: #212121;
	overflow-x: hidden;
	overflow-y: scroll;
}

a {
	text-decoration: none;
	cursor: pointer;
}

div.inside {
	max-width: 980px;
	margin: 0 auto;
	padding: 0 15px;
}

div.product-container {
	padding-top: 14px;
	margin: 0 -15px;
}

div#wrap-2 {
	display: flex;
}

div#wrap-1 {
	display: none;
}

/* display: flex > 반반 */
div.product-thumbs-wrapper, .product-form-wrapper {
	width: 50%;
	padding: 0 15px;
}

div.product-form {
	padding-left: 15%;
}

/* 페이지 한 줄 0px ~ 991px */
@media (max-width: 991px) {
	
	div.product-container {
		padding-top: 14px;
		padding: 15px;
	}

	div#wrap-2 {
		display: none;
	}

	div#wrap-1 {
		display: block;
	}
	
	/* 반반이던 틀 한 줄로 */
	div.product-thumbs-wrapper, .product-form-wrapper {
		width: 100%;
		padding: 0 0;
	}

	div.product-form {
		padding: 0;
		margin-top: 20px;
	}

}

div.holder img {
	width: 100%;
}

/* 타이틀 및 가격 */
div.product-form div.product-title-wrapper {
	/* 타이틀 하단 수평선 */
	border-color: rgba(33,33,33,0.1);
	border-width: 0 0 1px 0;
	border-style: solid;
	margin: 0 0 24px;
	padding-bottom: 24px;
	line-height: normal;
	position: relative;
}

div.product-title {
	font-weight: bold;
	font-size: 1.3em;
	margin-bottom: 0.3em;
}

div.product-price {
	color: #000000;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1;
	vertical-align: middle;
}

div.product-title-wrapper img { /* 공유 이미지 */
	position: absolute;
	right: 2px;
	bottom: 10px;
	width: 20px;
	height: 20px;
}

div.product-summary {
	height: 100px;
	margin-bottom: 16px;
}
/* 타이틀 및 설명 끝 */

/* 옵션 */
div.product-opt-group {
	padding-top: 12px;
	margin-top: 12px;
}

div.option-title {
	padding-bottom: 8px;
}

div.option-title span {
	font-size: 0.85em;
	padding-bottom: 0.6em;
	line-height: normal;
}

div.option-select {
	position: relative;
	margin-bottom: 1.6em;
	width: 100%;
	padding-top: 0.6em;
}

div.option-select a::before {
	position: absolute;
	right: 0.9em;
	font-size: 0.85em;
	content: "▽";
}

div.option-select a {
	display: block;
	cursor: pointer;
	text-decoration: none;
	font-size: 0.9em;
	padding: 0.6em 1.9em 0.6em 0.75em;
	border: 1px solid #ddd;
	line-height: 1.42857143;
}
/* 옵션 끝 */

/* 구매 버튼 */
div.product-buy-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

div.product-buy-wrapper a.btn {
	width: 100%;
	text-align: center;
	font-size: 14px;
	letter-spacing: 0;
	border: 1px solid transparent;
	padding: 12px 0;
	float: left;
	margin-left: 0;
}

div.product-buy-wrapper a.internal-buy-btn {
	background-color: rgba(246, 7, 87, 0.75);
	border-color: rgba(246, 7, 87, 0.75);
	border-width: 1px;
	color: #fff;
	margin-right: 8px;
}

div.product-buy-wrapper a.like-btn {
	border-color: rgba(33,33,33,0.2);
	background-color: rgba(149, 56, 56, 0);
	border-radius: 0px;
	color: #212121;
	font-weight: bold;
	font-style: normal;
}

a.dibs-btn img {
	width: 12px;
	height: 14px;
}
/* 구매 버튼 끝 */

/* 상세설명 */
div.product-detail-container {
	padding-top: 35px;
}

div.hr-wrapper {
	padding: 0 7.5px;
	margin: 15px 0;
}

hr {
	border: 0;
	border-top: 1px solid #eee;
}

div.product-detail-wrapper {
	padding-top: 35px;
	text-align: center;
}

div.product-detail {
	margin-top: 20px;
	text-align: center;
}

div.product-detail #map {
	margin: 0 auto;
}

div.product-img p, div.kakaomap {
	margin: 5px 10px;
}

div.product-img img {
	max-width: 100%;
	width:75%;
}

@media (max-width: 991px) {
	div.product-img img {
		max-width: 100%;
		width:75%;
	}
}
/* 상세설명 끝 */