<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
   <settings>
      <setting name="mapUnderscoreToCamelCase" value="true"/>
   </settings>
	<typeAliases>
		<typeAlias type="com.hejPlogging.domain.vo.CampaignVO" alias="campaignVO"/>
		<typeAlias type="com.hejPlogging.domain.vo.CourseVO" alias="courseVO"/>
		<typeAlias type="com.hejPlogging.domain.vo.CourseDTO" alias="courseDTO"/>
		<typeAlias type="com.hejPlogging.domain.vo.CourseFileVO" alias="courseFileVO"/>
		<typeAlias type="com.hejPlogging.domain.vo.OrderVO" alias="orderVO"/>
		<typeAlias type="com.hejPlogging.domain.vo.ProductVO" alias="productVO"/>
		<typeAlias type="com.hejPlogging.domain.vo.ProductReviewVO" alias="productReviewVO"/>
		<typeAlias type="com.hejPlogging.domain.vo.RecordVO" alias="recordVO"/>
		<typeAlias type="com.hejPlogging.domain.vo.ReviewVO" alias="reviewVO"/>
		<typeAlias type="com.hejPlogging.domain.vo.UserVO" alias="userVO"/>
	</typeAliases>

	<environments default="mysql">
		<environment id="mysql">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/plogging"/>
				<property name="username" value="root"/>
				<property name="password" value="1234"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/mybatis/mapper/CampaignMapper.xml"/>
		<mapper resource="com/mybatis/mapper/CourseMapper.xml"/>
		<mapper resource="com/mybatis/mapper/CourseFileMapper.xml"/>
		<mapper resource="com/mybatis/mapper/OrderMapper.xml"/>
		<mapper resource="com/mybatis/mapper/ProductMapper.xml"/>
		<mapper resource="com/mybatis/mapper/ProductReviewMapper.xml"/>
		<mapper resource="com/mybatis/mapper/RecordMapper.xml"/>
		<mapper resource="com/mybatis/mapper/ReviewMapper.xml"/>
		<mapper resource="com/mybatis/mapper/UserMapper.xml"/>
	</mappers>
</configuration>
