<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.campaign.domain.vo.CampaignVO" alias="campaignVO"/>
		<typeAlias type="com.course.domain.vo.CourseVO" alias="courseVO"/>
		<typeAlias type="com.order.domain.vo.OrderVO" alias="orderVO"/>
		<typeAlias type="com.product.domain.vo.ProductVO" alias="productVO"/>
		<typeAlias type="com.productReview.domain.vo.ProductReviewVO" alias="productReviewVO"/>
		<typeAlias type="com.record.domain.vo.RecordVO" alias="recordVO"/>
		<typeAlias type="com.review.domain.vo.ReviewVO" alias="reviewVO"/>
		<typeAlias type="com.user.domain.vo.UserVO" alias="userVO"/>
	</typeAliases>

	<environments default="mysql">
		<environment id="mysql">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/form"/>
				<property name="username" value="root"/>
				<property name="password" value="1234"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/mybatis/mapper/PloggingMapper.xml"/>
	</mappers>
</configuration>
